@use "./reset.scss";

// body {
//   background-color: #dce6d1;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 150vh;
// }

// .phone {
//   background-color: black;
//   border-radius: 50px;
//   height: 95%;
//   width: 420px;
//   padding: 50px 20px;
//   box-sizing: border-box;
// }

// .header {
//   overflow-x: scroll;
//   .header__list {
//     display: flex;
//     gap: 10px;
//     color: white;
//     width: max-content;
//     .header__list-item {
//       border: 1px solid rgba($color: #fff, $alpha: 0.5);
//       padding: 10px;
//       border-radius: 20px;
//     }
//     .header__list-item-inverted {
//       background-color: white;
//       color: black;
//     }
//   }
// }

// .cards {
//   margin: 20px 0px;
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 10px;

//   .cards__card {
//     background-color: white;
//     padding: 10px;
//     border-radius: 15px;
//     display: flex;
//     flex-direction: column;
//     gap: 40px;
//     justify-content: space-between;
//     .card__title {
//       font-size: 28px;
//     }
//     .card__footer {
//       font-size: 12px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       span {
//         padding: 5px 10px;
//         border-radius: 20px;
//         border: 1px solid black;
//       }
//       .price {
//         background-color: rgb(255, 221, 44);
//       }
//       .lenght {
//         background-color: white;
//       }
//     }
//     &:first-child {
//       background-color: #292d33;
//       border: 1px solid white;
//       .card__title {
//         color: white;
//       }
//     }
//     &:nth-child(2) {
//       background-color: #f5f4ef;
//     }
//     &:nth-child(3) {
//       background-color: #f8fcb5;
//     }
//     &:nth-child(4) {
//       background-color: #b19ff6;
//     }
//     &:nth-child(5) {
//       background-color: #fed3d3;
//     }
//     &:nth-child(6) {
//       background-color: #d0fedf;
//     }
//     &:nth-child(3n) {
//       grid-column: span 2;
//     }
//   }
// }

//  ------------ ^ 1번 ^ ----------------

// ------------- ↓ 2번 ↓ ----------------

// $grey: #bcbfbf;

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: $grey;
// }

// .phone {
//   width: 480px;
//   height: 90%;
//   border-radius: 10px;
//   background-color: #c6caca;
//   box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.5);
// }

// .header {
//   padding: 50px 15px 20px 15px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   .header__title {
//     text-transform: uppercase;
//     font-weight: bold;
//   }
// }

// .total {
//   background-color: black;
//   padding: 30px 15px;
//   color: $grey;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   font-weight: bold;
//   gap: 10px;
//   .total__price {
//     font-size: 22px;
//   }
//   .total__suntitle {
//     font-size: 14px;
//   }
// }

// .items {
//   background-color: $grey;
//   display: flex;
//   flex-direction: column;
//   gap: 15px;
//   .item {
//     border-top: 5px solid black;
//     position: relative;
//     .item__info {
//       background-color: #d7dbdb;
//       padding: 30px 15px;
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       align-items: flex-start;
//       .item__info-col {
//         font-weight: bold;
//         display: flex;
//         flex-direction: column;
//         gap: 5px;
//         &:nth-child(2) {
//           align-items: flex-end;
//         }
//       }
//       .item__title {
//         font-size: 42px;
//         font-weight: bold;
//       }
//       .item__subtitle {
//         font-size: 14px;
//       }
//       .item__total-price {
//         font-size: 34px;
//       }
//       .item__piece-price {
//         font-size: 18px;
//       }
//     }
//   }
// }

// .item__specs {
//   border-top: 5px solid black;
//   border-bottom: 5px solid black;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, 125px);
//   background-color: #d7dbdb;
//   .spec {
//     padding: 25px;
//     display: flex;
//     font-weight: bold;
//     flex-direction: column;
//     justify-content: center;
//     &:last-child {
//       border-left: 5px solid black;
//     }
//   }
// }

// .item__photo {
//   position: absolute;
//   width: 30%;
//   height: 60%;
//   border: 5px solid black;
//   right: 15px;
//   bottom: 0px;
//   object-fit: cover;
// }

//  ------------ ^ 2번 ^ ----------------

// ------------- ↓ 3번 ↓ ----------------

// body {
//   display: grid;
//   background-color: rgb(249, 244, 255);
//   border: 1.5px solid black;
// }

// .main_menu,
// .sub_menu {
//   background-color: white;
//   border-bottom: 1.5px solid black;
//   .main_menu__list {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
//   }
//   .main_menu__lists {
//     text-align: center;
//     border-right: 1px solid black;
//     padding: 15px;
//     font-size: 14px;
//     &:nth-child(6) {
//       font-weight: bold;
//       font-size: 18px;
//     }
//   }
//   .sub_menu__li {
//     font-size: 13px;
//     &:first-child {
//       padding-left: 40px;
//     }
//   }
// }

// .item {
//   display: grid;
//   grid-template-columns: 350px 2fr 2fr;
//   background-color: white;
//   .item__photo {
//     grid-row: span 2;
//     background-image: url("https://picsum.photos/300/400");
//     background-size: cover;
//     border-right: 1.5px solid rgba($color: #000000, $alpha: 0.6);
//   }
//   .item__info {
//     grid-column: 2 / -1;
//     padding: 110px 40px;
//     border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.6);
//     .item__subtitle {
//       font-size: 15px;
//       padding-bottom: 10px;
//     }
//     .item__maintitle {
//       font-size: 50px;
//       font-weight: bold;
//       padding-bottom: 40px;
//     }
//     .item__price {
//       font-size: 25px;
//       font-weight: bold;
//       padding-right: 60px;
//     }
//   }
// }

// .item__write {
//   border-right: 1.5px solid rgba($color: #000000, $alpha: 0.6);
//   padding: 30px 40px 100px 40px;
//   .item__write-tilte {
//     font-weight: bold;
//   }
//   .item__write-sub {
//     padding-top: 15px;
//   }
// }

// .item__menu {
//   padding: 40px 50px;
//   .item__menu-list {
//     border-bottom: 1.5px solid black;
//     display: flex;
//     justify-content: space-between;
//     padding: 10px 0px;
//     font-weight: bold;
//   }
// }

// ------------ ^ 3번 ^ ----------------

// ------------- ↓ 4번 ↓ ----------------

// body {
//   display: grid;
//   height: 100vh;
//   grid-template-columns: 1fr 3fr 6fr;
//   background-color: rgb(241, 241, 241);
// }

// .tb {
//   display: grid;
//   grid-template-rows: repeat(4, 2fr);
//   .tb__list {
//     display: flex;
//     align-items: flex-end;
//     justify-content: space-evenly;
//     border-right: 2px solid black;
//     border-bottom: 2px solid black;
//   }
//   .tb__list-text {
//     font-size: 15px;
//     padding: 15px;
//   }
//   .tb__list-b-i {
//     font-size: 70px;
//     padding-bottom: 70px;
//   }
//   .tb__list-s-i {
//     font-size: 10px;
//     padding: 15px;
//   }
// }

// .info {
//   display: grid;
//   grid-template-rows: repeat(2, 2fr);
//   border-right: 2px solid black;
//   .info__top {
//     display: flex;
//     justify-content: center;
//     border-bottom: 2px solid black;
//   }
//   .info__top-s {
//     font-size: 14px;
//     padding-top: 25px;
//   }
//   .info__top-b {
//     font-size: 150px;
//     padding-bottom: 25px;
//   }
//   .info__bottom {
//     display: flex;
//     justify-content: center;
//     font-size: 32px;
//     padding-top: 40px;
//   }
//   .info__bottom-text {
//     padding-top: 70px;
//   }
// }

// .save {
//   display: grid;
//   grid-template-rows: 2fr 1fr 1.5fr 2.5fr 3.5fr;
//   .save__list {
//     display: flex;
//     justify-content: space-between;
//     font-size: 20px;
//     padding: 15px;
//     &:nth-child(2) {
//       background-color: rgba(255, 196, 0, 0.742);
//     }
//     &:nth-child(3) {
//       background-color: rgba(128, 128, 128, 0.708);
//     }
//     &:nth-child(4) {
//       background-color: rgba(255, 0, 0, 0.797);
//       color: white;
//     }
//     &:nth-child(5) {
//       background-color: rgba(0, 0, 255, 0.751);
//       color: white;
//     }
//   }
// }

// ------------ ^ 4번 ^ ----------------

// ------------- ↓ 5번 ↓ ----------------

$gery: #d9d9d9;
$boder: 1px solid black;

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.main__title {
  background-color: $gery;
  grid-column: 1 / -1;
  font-size: 100px;
  font-weight: bold;
  border-bottom: $boder;
}

.menu {
  background-color: $gery;
  display: grid;
  grid-column: 1fr 1fr 1fr 2fr 1fr 2fr;

  .menu__list {
  }
}
